<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar layout-align="center" color="secondary">
  <mat-toolbar-row layout-align="center">
    Welcome to {{title}}!
  </mat-toolbar-row>
  <mat-toolbar-row class="github-buttons">
    <div class="grow"></div>
    <div class="button-github">
      <a class="github-button" href="https://github.com/iiitv/algos" data-size="large" data-show-count="true" aria-label="Star iiitv/algos on GitHub">Star</a>
    </div>
    <div class="grow"></div>
    <div class="button-github">
      <a class="github-button" href="https://github.com/iiitv/algos/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch iiitv/algos on GitHub">Watch</a>
    </div>
    <div class="grow"></div>
    <div class="button-github">
      <a class="github-button" href="https://github.com/iiitv/algos/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue iiitv/algos on GitHub">Issue</a>
    </div>
    <div class="grow"></div>
    <div class="button-github">
      <a class="github-button" href="https://github.com/iiitv/algos/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download iiitv/algos on GitHub">Download</a>
    </div>
    <div class="grow"></div>
    <div class="button-github">
      <a class="github-button" href="https://github.com/iiitv/algos/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork iiitv/algos on GitHub">Fork</a>
    </div>
    <div class="grow"></div>
  </mat-toolbar-row>
</mat-toolbar>
<content>
</content>
