.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

mat-toolbar {
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  z-index: 2;
}

mat-toolbar-row {
  overflow: auto;
}

.github-buttons {
  padding: 0;
}

.button-github {
  padding: 0 25px;
}

.grow {
  flex: 1;
}
