  <md-sidenav-container class="example-sidenav-fab-container">

    <md-sidenav #sidenav mode="side" opened="true">
      <div class="example-scrolling-content">
        <md-nav-list>
          <div class="md-list-item-text" *ngFor="let item of contentItems">
              <button (click)="fetchCode($event)" md-button class="md-3-line side-nav-buttons" role="listitem">
              {{item.name}}
            </button>
          </div>
        </md-nav-list>
      </div>
    </md-sidenav>
    <md-tab-group>
      <md-tab *ngIf="code_c" label="C">
        <div class="example-scrolling-content">
          <pre>{{code_c}}</pre>
        </div>
      </md-tab>
      <md-tab *ngIf="code_cpp" label="C++">
        <div class="example-scrolling-content">
          <pre>
            <code class="language-clike">
              {{code_cpp}}
            </code>
          </pre>
        </div>
      </md-tab>
      <md-tab *ngIf="code_go" label="go">
        <div class="example-scrolling-content">
          <pre>{{code_go}}</pre>
        </div>
      </md-tab>
      <md-tab *ngIf="code_java" label="Java">
        <div class="example-scrolling-content">
          <pre>
            <code class="language-java">
            {{code_java}}
          </code>
        </pre>
        </div>
      </md-tab>
      <md-tab *ngIf="code_js" label="js">
        <div class="example-scrolling-content">
          <pre>{{code_js}}</pre>
        </div>
      </md-tab>
      <md-tab *ngIf="code_py" label="py">
        <div class="example-scrolling-content">
          <pre>{{code_py}}</pre>
        </div>
      </md-tab>

    </md-tab-group>

  </md-sidenav-container>
