.sidenav-container {
  height: calc(100% - 128px);
}

.sidenav {
  width: 100%;
}

@media (min-width: 425px) {
  .sidenav {
    max-width: 300px;
  }
}

.mat-toolbar.mat-secondary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.grow {
  flex: 1;
}

mat-toolbar > .close-button {
  display: none;
}

@media (max-width: 425px) {
  mat-toolbar > .close-button {
    display: block;
  }
}

.side-nav-buttons {
  width: 100%;
}
.example-sidenav-fab-container {
  width: 100%;
  height: 90%;
}

.example-sidenav-fab-container md-sidenav {
  max-width: 100%;
  position: fixed;
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

mat-spinner {
  position: relative;
  top: 50%;
  margin: 0 auto;
}

.example-scrolling-content {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

pre {
  color: white;
  padding-left: 50px;
}

mat-sidenav {
  width: 20%;
}

mat-tab {
  flex: 1 1 auto;
  position: fixed;
}

