  <md-sidenav-container class="example-sidenav-fab-container">

    <md-sidenav #sidenav mode="side" opened="true">
      <div class="example-scrolling-content">
        <md-nav-list>
          <button md-button class="md-3-line side-nav-buttons" role="listitem" *ngFor="let item of contentItems">
            <div (click)="fetchCode($event)" class="md-list-item-text">
              {{item.name}}
            </div>
          </button>
        </md-nav-list>
      </div>
    </md-sidenav>
    <md-tab-group>
      <md-tab *ngIf="code_c" label="C">
        <div class="example-scrolling-content">
          <pre>{{code_c}}</pre>
        </div>
      </md-tab>
      <md-tab *ngIf="code_cpp" label="C++">
        <div class="example-scrolling-content">
          <pre>{{code_cpp}}</pre>
        </div>
      </md-tab>
      <md-tab *ngIf="code_go" label="go">
        <div class="example-scrolling-content">
          <pre>{{code_go}}</pre>
        </div>
      </md-tab>
      <md-tab *ngIf="code_java" label="Java">
        <div class="example-scrolling-content">
          <pre>{{code_java}}</pre>
        </div>
      </md-tab>
      <md-tab *ngIf="code_js" label="js">
        <div class="example-scrolling-content">
          <pre>{{code_js}}</pre>
        </div>
      </md-tab>
      <md-tab *ngIf="code_py" label="py">
        <div class="example-scrolling-content">
          <pre>{{code_py}}</pre>
        </div>
      </md-tab>

    </md-tab-group>
  </md-sidenav-container>
